@page
@model Zrozumcsharp.Pages.Courses.IndexModel
@{
    ViewData["Title"] = "Courses";
}

<div class="text-center">
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="~/img/cs1.jpg">
                </div>
                <div class="card-content">
                    <p>
                        This basic C# course will help you to start your programming journey.
                        You will learn how to write simple web app with C#.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="~/img/cs2.jpg">
                </div>
                <div class="card-content">
                    <p>
                        This C# course presents more advanced topics of programming.
                        It will help you deep dive into C# and understand it more deeply.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="~/img/cs3.jpg">
                </div>
                <div class="card-content">
                    <p>
                        This course gives you the most advanced C# knowledge.
                        After this course you will be a C# expert.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">Read more</a>
                </div>
            </div>
        </div>

        @foreach (var item in Model.Course)
        {
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="~/img/@item.Image">
                    </div>
                    <div class="card-content">
                        <p>
                            @item.ShortDescription
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="@item.UrlSlug">Read more</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
