button.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

button.nav-btn {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
}

nav {
    background-color: #8300ab;
}

.collection {
    border: 0px;
}

    .collection a.collection-item {
        color: #394cde;
    }

    .collection .collection-item {
        border: 0px;
    }

        .collection .collection-item.active {
            background-color: #394cde;
            color: #fff;
        }

.btn, .btn-large, .btn-small {
    background-color: #394cde;
}

    .btn:hover, .btn-large:hover, .btn-small:hover, .btn:focus, .btn-large:focus, .btn-small:focus {
        background-color: #727fe1;
    }

.card .card-content p {
    height: 80px;
    text-overflow: ellipsis;
}

.card .card-action {
    text-align: right;
}

    .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
        margin-right: 0px;
        margin-left: 20px;
        color: blue;
    }

        .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
            color: dodgerblue;
        }


html {
    font-size: 14px;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    padding: 10px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

