<h6 style="margin-top:1rem;">Admin</h6>
<div class="collection">
    <a class="collection-item @AdminNavPages.ManageUsersNavClass(ViewContext)" 
       asp-page="../Admin/ManageUsers">Manage users</a>
</div>
