<h6 style="margin-top:1rem;">Account</h6>
<div class="collection">
    <a class="collection-item @ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">Profile</a>
    <a class="collection-item @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">Password</a>
    <a class="collection-item @ManageNavPages.PersonalDataNavClass(ViewContext)" asp-page="./PersonalData">Personal data</a>
</div>
