@page
@model UpdateProfileModel
@{
    ViewData["Title"] = "Update profile";
    ViewData["ActivePage"] = ManageNavPages.UpdateProfile;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <h5>@ViewData["Title"]</h5>
    <hr />
    <div class="col m8 s12">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <label asp-for="Username"></label>
            <input asp-for="Username" disabled />
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            @if (!Model.IsEmailConfirmed)
            {
            <p>
                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn waves-effect waves-light">Send verification email</button>
            </p>
            }
            <p>
                <button id="update-profile-button" type="submit" class="btn waves-effect waves-light">Save</button>
            </p>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}